
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Projectp1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<form action="action_page.php" method="post" >
  <div class="imgcontainer">
    <img src="https://fsa2-assets.imgix.net/assets/code-and-headphones-1.jpg?auto=compress%2Cformat&crop=focalpoint&domain=fsa2-assets.imgix.net&fit=crop&fp-x=0.5&fp-y=0.5&ixlib=php-3.3.0&w=1280" alt="Avatar" class="avatar">
  <h1> Background-Verification </h1> 
  </div>

  <div class="container" style="background-color:#ffffff">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit"   >  Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#ffffff">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"> <a href="#"> Password bhul gye?</a></span>
  </div>
</form>


<body>
  <app-root></app-root>
  <router-outlet></router-outlet>






